* {
    margin: 0;
    padding: 0;
}
body {
    background: lightgray;
    background-image: -webkit-radial-gradient(center, circle farthest-side, white 0%, lightgray 100%);
    background-image:    -moz-radial-gradient(center, circle farthest-side, white 0%, lightgray 100%);
    background-image:         radial-gradient(center, circle farthest-side, white 0%, lightgray 100%);
    font-family: Ubuntu, "PT Sans", sans-serif;
    font-size: 120%;
}
h1 {
    font-size: 500%;
}
pre {
    font-size: 150%;
    font-family: monofur, "Ubuntu Mono", Menlo, Monaco, Consolas, monospace;
    margin: 0.5em 0;
}
ul {
    margin: 1em 0;
}

.step {
    opacity: .2;
    -webkit-transition: opacity 1s;
       -moz-transition: opacity 1s;
            transition: opacity 1s;
}
.step.active {
    opacity: 1;
}
.slide {
    width: 900px;
    height: auto;
}
.slide.centered {
    text-align: center;
}

#title {
    width: auto;
    height: auto;
}

#javascript em {
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
            transition: all 1s;
}
#javascript.past em {
    text-decoration: line-through;
}

#coffeescript {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}
#coffeescript.future {
    opacity: 0;
}
#coffeescript.present {
    opacity: 1;
}
#coffeescript p.footnote {
    opacity: 0;
    -webkit-transition: all 1s 3s;
       -moz-transition: all 1s 3s;
            transition: all 1s 3s;
}
#coffeescript.present p.footnote {
    opacity: 0.5;
}

#coupled .con {
    color: #f66;
}

#user_details_coffee {
    width: 1000px;
}
#user_details_coffee pre {
    width: 495px;
    display: inline-block;
    vertical-align: top;
}

#thanks {
    width: 800px;
    text-align: center;
    font-size: 200%;
}
#thanks ul {
    white-space: nowrap;
    list-style: none;
}
